---
---

<footer id="global-footer" class="bg-primary-500 text-secondary-400 py-4 px-2 text-xs text-center">
  <div class="container mx-auto">
    &copy; 2025 서로맑음 all rights reserved.
  </div>
</footer>
