---
// Import the global CSS file
import '../assets/styles/global.css';
---
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <!-- seo -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <!-- meta -->
  <meta name="generator" content={Astro.generator} />
  <!-- title -->
  <title>쥐라기 | 서울밖 공주쥐의 기록들</title>
</head>