---
import Head from '../components/Head.astro';
import GlobalNav from '../components/GlobalNav.astro';
import GlobalFooter from '../components/GlobalFooter.astro';
---
<!doctype html>
<html lang="ko-KR">
	<Head />
	<body>
		<GlobalNav />
		<div id="container"  class="container mx-auto pt-4 pb-12 min-h-screen">
			<slot />
		</div>
		<GlobalFooter />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
	
</style>
